<h1>Tiny Scrollbar</h1>

<h2>Demo</h2>
<div id="tinyscrollbar1" ng-mouseover="showScrollBar=true" ng-mouseleave="showScrollBar=false" ng-init="showScrollBar=false">
    <!-- Define Scrollbar -->
    <div class="scrollbar" ng-show="showScrollBar">
        <div class="track">
            <div class="thumb">
                <div class="end"></div>
            </div>
        </div>
    </div>
    <!-- Define View Section -->
    <div class="viewport">
        <div class="overview">
            <ul>
                <li ng-repeat="item in data" trigger-scrollbar>{{item}}</li>
            </ul>
        </div>
    </div>
</div>

<hr>
<a href="#/home">Back</a>
